.cabeçalho {
    display: flex;
    justify-content: space-between;
}

.cabecalho__menu-hamburguer {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    background-image: url("../assets/Menu.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    align-items: center;
    position: relative;
}

.container__image {
    padding: 1em;
}

.container__botao-menu {
    display: none;
}

.container__botao-menu:checked~.lista-menu {
    display: block;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
}
