.cabeçalho {
    display: flex;
    justify-content: space-between;
}

.cabecalho__menu-hamburguer {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    background-image: url("../assets/Menu.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    align-items: center;
}