@import url("./header.css");

:root {
    --cor-de-fundo: #C4C4C4;
    --cor-fundo-barras: #FFFFFF;
    --cor-titulos: #EB9B00;
    --gradient: linear-gradient(98deg, #002F52 35.49%, #326589 165.37%);
}

body {
    background-color: var(--cor-de-fundo);
}

